.main-navbar a:not([href]):not([tabindex]) {
     color:#fff;
     cursor: pointer;
}

.main-navbar a:not([href]):not([tabindex]):hover {
     color:#008000;
}

.desk {
     display: block;
}

.mob {
     display: none;
}
@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 414px) {
     body {
          padding-top: 64px;
     }
     header {
          position:fixed;
          left:0;
          top:0;
          right:0;
          z-index: 2;
     }

     .page-content .col-md-4 {
          margin:15px 0;
     }

     .desk {
          display: none;
     }

     .mob {
          display: block;
     }

     .main-navbar li ul {
         left: 0;
     }

     th {
          white-space: nowrap;
     }

     .main-navbar {
          width: 70%;
          position: fixed;
          background: green;
          right: -70%;
          top: 74px;
          bottom: 0;
          z-index: 9;
          transition: all .2s ease-in-out;
     }

     .main-navbar .icon-angle-down{
          float:right;
     }

     .main-navbar.open {
          right: 0;
     }

     .main-navbar>li {
         display: block;
     }

     .nav-icon span {
         height: 3px;
         background: #fff;
         display: block;
         margin-bottom: 6px;
     }

     .nav-icon {
         width: 45px;
         height: 42px;
         padding: 8px 8px 0 8px;
     }

     .nav-open span , .nav-icon span{
         transition: all 0.2s ease-in-out;
     }
     .nav-open span:nth-child(1){
         transform: rotate(45deg);
         margin-bottom:-3px;
         margin-top: 6px;
     }
     .nav-open span:nth-child(2){
         display: none;
     }
     .nav-open span:nth-child(3){
         transform: rotate(-45deg);
         /*margin-top: 5px;*/
         margin-bottom:6px;
     }
}

@media (max-width: 411px) {
}

@media (max-height: 823px) {
}

@media (max-width: 375px) {
}

@media (max-height: 667px) {
}

@media (max-width: 360px) {
}

@media (max-width: 320px) {
}
