body {
	background: #ebebeb;
}

header {
	background: #008000;
	padding: 10px 0;
}
.main-navbar, .main-navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navbar {
	margin: -10px 0;
	padding: 0;
	list-style: none;
}

.ulmore {
	list-style: none;
}

.ulmore li {
	display: inline-block;
}
.main-navbar>li {
	display: inline-block;
	position: relative;
}
.main-navbar>li:hover>a {
	background: yellow;
	color: #008000;
	text-decoration: none;
}
.main-navbar li a {
	display: block;
}
.main-navbar>li>a {
	padding: 20px;
	color: #fff;
}
.main-navbar li ul {
	list-style: none;
	position: absolute;
	z-index: 1;
	background: yellow;
	display: none;
}
.main-navbar li:not(:last-child) ul {
	left: 0;
}
.main-navbar li:last-child ul {
	right: 0;
}
.main-navbar>li:hover>ul {
	display: block;
}
.main-navbar li ul a {
	padding: 5px 15px;
	min-width: 150px;
	color: #008000;
}

#sub_nav {
	position: relative;
	padding: 5px 15px;
    min-width: 150px;
    color: #008000;
}

#sub_nav_show {
	position: absolute;
	top: 0;
	left: -100%;
	display: none;
	z-index: -1;
}

#sub_nav:hover>#sub_nav_show {
	display: block;
}

.page-content {
	padding: 15px 0;
}
h1 {
	color: #008000;
	border-bottom: 1px solid #999;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size: 28px;
	text-transform: uppercase;
}
h1:after {
	content: "";
	width: 100px;
	height: 3px;
	background: #008000;
	position: absolute;
	bottom: -2px;
	left: 0;
}
.card-title {
	background: #008000;
	color: #fff;
	padding: 10px 15px;
	line-height: 100%;
	font-size: 18px;
	text-transform: capitalize;
	margin: 0;
}
.card-body {
	padding: 15px;
}

.form-control:focus {
	box-shadow: none;
	border-color: #008000;
}

.file-upload, .no_records_found {
    border: 3px dashed #ccc;
    width: 100%;
    padding: 15px;
    text-align: center;
}
.file-upload {
    cursor: pointer;
    position: relative;
}
.file-upload .close {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 1;
    opacity: 1;
    color: #999;
}
.file-upload img {
    max-width: 100%;
}
.file-upload input[type=file], .animated-check input[type=checkbox] {
    display: none;
}

.no_records_found {
    color: #ccc;
    padding: 150px 0;
    font-size: 36px;
}

.animated-check {
    position: relative;
    cursor: pointer;
}
.animated-check span.label-text {
    margin-left: 25px;
}
.animated-check span.label-text:after, .animated-check span.label-text:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.animated-check span.label-text:after {
    border: 1px solid #333;
}
.animated-check.disabled span.label-text:after {
    border: 1px solid #ccc;
}
.animated-check input[disabled]+span.label-text:after {
    border-color: #ccc;
    cursor: not-allowed;
}
.animated-check input[type=checkbox]:checked+span.label-text:after {
    content: "\2713";
    background: #333;
}



.page-item.active .page-link {
    background: #008000;
    border-color: #008000;
}


.full-section {
	height: 100vh;
	background: yellow;
	padding: 0;
	margin: 0;
	display: block;
}
.half-section {
	height: 50vh;
	background: #008000;
}
.login-form {
	width: 600px;
	max-width: 90%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	padding: 30px;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.target_popup:before {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.6);
}
.popup-body {
    position: fixed;
    width: 600px;
    max-width: 80%;
    top: 50%;
    left: 50%;
    z-index: 999;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.popup-body>div {
    padding: 15px;
}
.popup-head {
	background: green;
	color: #fff;
}

label.file-upload {
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 20px;
	border: 5px dashed #ccc;
}
label.file-upload input[type=file] {
	display: none;
}

/* Candidate Page */

.candidate {
	margin:20px;
	margin-top: 0;
	margin-bottom: 0;
	padding:15px;
}

/* Instruction Page Instruction */]

.inst-content {
    padding: 0 20px;
    background: #feffa0;
}

.inst-content {
    padding: 0 20px;
    background: #feffa0;
}
.inst-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.inst-content ul li {
    display: block;
    font-size: 14px;
}
.inst-content ul li .check-icon {
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}
.inst-content ul li:first-child .text {
    border-top: none;
}
.inst-content ul li .text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    display: inline-block;
}

/* Multiple checkbox on select box */
.ms-options-wrap {
	position: relative;
}
.ms-options-wrap > button:focus, .ms-options-wrap > button {
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.gender {
    display: inline-flex;
}

.gender span {
    margin-right: 15px;
}

/* Dashboard */

.dashboard-box {
    background: #fff;
    border: 1px solid rgba(204,204,204,0.47);
}

.inrcntntdash {
    min-height: 135px;
    padding: 15px;
}

.inrcntntdash .lytcntnt {
    padding: 15px 0;
}

.inrcntntdash .rytcntnt h3 {
    font-size: 22px;
    margin-top: 0;
    font-weight: 600;
}

.greenbtn {
    background: #202020;
    text-align: center;
    padding: 5px 15px;
}

.greenbtn a:hover {
	color: #fff;
}

.greenbtn a {
    color: #fff;
    display: block;
    text-transform: uppercase;
}

/******************** Result ************************/
.card-heading {
    border-bottom: 1px solid rgba(204,204,204,0.34);
    padding: 5px 15px;
    margin:10px 0;
}

.card-heading .icon-envelope-o, .card-heading .icon-print {
    font-size: 25px;
    color:#3d3d3d;
}

.card-heading h3 {
    font-size: 16px;
    color: #2980b9;
    font-weight: 700;
    margin-top: 10px;
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

.res-summary {
    overflow: auto;
}

.greybg .card {
    border:none;
}

.res-summary .icon-close {
    font-size: 18px;
    color: #f00;
}

/******************** End Result ************************/

.exams {
    color: #555;
}

.exams .table-responsive>.table-bordered {
    border-color: #000;
}
