.ml {
     margin-left: -10px;
}

.p {
     display: none;
}

.max {
     display: block;
}

.min {
     display: none;
     float:left;
     margin-top: 5px;
     margin-left: 5px;
}

.alt {
     display: none;
}
.btn-footer_right .btn-foote-right-icon {
     float:left;
}

#testInstruction .card {
     width: 100%;
     /* margin:5px; */
}

.que_nav {
     display: block;
}

.que_nav_box {
     display: none;
}

.que-ans {
     /* overflow: auto; */
}
@media (max-width: 768px) {
     /* Test */
     body {
          overflow: auto;
     }

     .c_details strong {
          display: flex;
          width: 100%;
     }

     .question, .answers {
          font-size: 12px;
     }
     .test_footer {
          position: absolute;
          left: 0;
          bottom:0;
          right: 0;
     }

     .que_box {
         font-size: 12px;
         width: 34px;
     }

     .candi-details span {
         font-size: 13px;
     }

     .candi-details strong {
          font-size: 13px;
     }

     .test_footer .btn-left {
         padding-right: 0;
     }

     .test_footer .btn-right {
         padding-left: 0;
         float: right;
     }

     .disnon {
          display: none;
     }

     .f_tagged {
         width: 50%;
         padding: 8px 4px;
     }

     .f_erase {
         width: 60%;
     }
     /* Test End */
    .navbar-nav li ul:before {
      border-color: transparent;
    }

    .navbar-nav li ul {
        position: static;
        display: block;
    }
    header {
        padding:10px 0;
    }
    .heading{
        font-size: 20px;
        margin-top: 20px;
    }
    footer {
    padding:0 0 15px 0 ;
    }
    footer h3 {
        margin-top: 15px;
    }
    .nav-icon {
        /*background: #000;*/
    width: 50px;
    height: 42px;
    padding: 8px 8px 0 8px;
    z-index: 999;
    position: fixed;
    top: 2%;
    left: 2%;
}
.icon-scroll {
    top: 1%;
}
    .nav-icon span {
    height: 2px;
    background: #fff;
    display: block;
    margin-bottom: 8px;
}
    header .navbar-nav {
        background: green url(../imgs/topbg.jpg);
        padding:50px 15px;
        position: fixed;
        top: 0px;
        left: -70%;
        width: 70%;
        bottom: 0;
        transition: all 0.2s ease-in-out;

    }
    .nav-background {
        background:#fff !important;
        border-right: 1px solid #000;
        transition: all 0.2s ease-in-out;
    }
    .navbar-nav li a {
        padding:15px;
        font-size: 17px;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s ease-in-out;
    }

    .icon-span {
        background:green !important;
    }
    .nav-open span , .nav-icon span{
        transition: all 0.2s ease-in-out;
    }

    .nav-open span:nth-child(1){
        transform: rotate(45deg);
        margin-bottom:-2px;
        margin-top: 10px;
    }
    .nav-open span:nth-child(2){
        display: none;
    }
    .nav-open span:nth-child(3){
        transform: rotate(-45deg);
        /*margin-top: 5px;*/
        margin-bottom:3px;

    }
    .translate {
        left: 0 !important;
        transition: all 0.2s ease-in-out;

    }
    .brand-translate {
        margin-left: 51%;
        transition: all 0.2s ease-in-out;
    }

    .bottum {
         margin-top: 30px;
         /* margin-bottom: 80px; */
     }
}

@media (max-width: 425px) {
     .que_nav_box {
         width: 100%;
         background: #ccc;
         height: 36px;
         padding: 7px;
         text-align: center;
         border-radius: 3px;
         overflow: auto;
         display: block;
     }

     .que_nav_box {
         display: block;
     }

     .p {
          display: block;
     }

     .max {
          display: none;
     }

     .test_footer {
         position: absolute;
         left: 0;
         bottom: 0;
         right: 0;
     }
}
@media (max-width: 414px) {

     /* Test */
     .btn-foote-right-icon .icon-check, .min, .max {
          display: none;
     }
     .alt {
          display: block;
          color: #fff;
          font-size: 21px;
          margin-right: .5rem;
          padding: 0 15px;
     }

     .btn-footer_right {
          padding: 0;
     }

     .p {
          display: block;
     }

     .que_status {
          position:absolute;
          top:0;
     }
     .que_nav {
          display: none;
     }
     .f_tagged {
         width: 100%;
     }

     .f_erase {
         width: 100%;
     }

     .max {
          display: none;
     }

     .min {
          display: none;
     }

     .footer_test {
         margin-bottom: 0px;
     }

     /* .que-pallete {
          position:absolute;
          top: 0;
     } */

     .que_nav_box {
          width: 100%;
          background: #ccc;
          height: 36px;
          padding: 7px;
          text-align: center;
          border-radius: 3px;
          overflow: auto;
          display: block;
     }

     .que_nav_box .fit {
          width: 100%;
          overflow: auto;
     }

     .que_nav_box .width {
          width: max-content;
     }

     .que_body {
         height: auto;
     }
     /* Test */


    .navbar-nav li ul:before {
      border-color: transparent;
    }

    .navbar-nav li ul {
        position: static;
    }
    .heading{
        font-size: 20px;
        margin-top: 20px;
    }
    footer {
    padding:0 0 15px 0 ;
    }
    footer h3 {
        margin-top: 15px;
    }
    .nav-icon {
        /*background: #000;*/
    width: 50px;
    height: 42px;
    padding: 8px 8px 0 8px;
    z-index: 999;
    position: fixed;
    top: 3%;
    left: 2%;
}
    .icon-scroll {
        top:1.5%;
    }
    .nav-icon span {
        height: 2px;
        background: #fff;
        display: block;
        margin-bottom: 8px;
    }
    header .navbar-nav {
        background: green url(../imgs/topbg.jpg);
        padding:40px 15px;
        position: fixed;
        top: 0;
        left: -70%;
        width: 70%;
        bottom: 0;
        transition: all 0.2s ease-in-out;

    }
    .nav-background {
        background:#fff !important;
        border-right: 1px solid #000;
        transition: all 0.2s ease-in-out;
    }
    .navbar-nav li a {
        padding:15px;
        font-size: 18px;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s ease-in-out;
    }

    .icon-span {
        background:green !important;
    }
    .nav-open span , .nav-icon span{
        transition: all 0.2s ease-in-out;
    }

    .nav-open span:nth-child(1){
        transform: rotate(45deg);
        margin-bottom:-4px;
        margin-top: 6px;
    }
    .nav-open span:nth-child(2){
        display: none;
    }
    .nav-open span:nth-child(3){
        transform: rotate(-45deg);
        /*margin-top: 5px;*/
        margin-bottom:6px;

    }
    .translate {
        left: 0 !important;
        transition: all 0.2s ease-in-out;

    }
    .brand-translate {
        margin-left: 51%;
        transition: all 0.2s ease-in-out;
    }

    .bottum {
    margin-top: 30px;
    /* margin-bottom: 80px; */
}
}
@media (max-width: 411px) {

     /* test */

     .btn-foote-right-icon {
         padding: 5px;
     }

     .btn-foote-right-icon .icon-check, .min, .max {
          display: none;
     }
     .alt {
          display: block;
          color: #fff;
          font-size: 21px;
          margin-right: .5rem;
          padding: 0 15px;
     }

     .btn-footer_right {
          padding: 0;
     }
     /* test */
    .nav-open span:nth-child(1){
        transform: rotate(45deg);
        margin-bottom:-3px;
        margin-top: 10px;
    }

    .nav-icon {
    top: 3%;
}
.icon-scroll {
    top: 1.5%;
}
}

@media (max-height: 823px) {

    .nav-icon {
    top: 2.5%;
}
.icon-scroll {
    top: 1.5%;
}
}

@media (max-width: 375px) {

    .nav-open span:nth-child(1){
        transform: rotate(45deg);
        margin-bottom:-3px;
        margin-top: 10px;
    }
    .navbar-nav li ul a {
    font-size: 12px;
}
    .nav-icon {
        top:2.5%;
    }
.icon-scroll {
    top:1.3%;
}
}

@media (max-height: 667px) {
    .nav-icon {
        top:3%;
    }
.icon-scroll {
    top:1.3%;
}
}

@media (max-width: 360px) {

     /* Test */
     .btn-foote-right-icon .icon-check, .min, .max {
          display: none;
     }
     .alt {
          display: block;
          color: #fff;
          font-size: 21px;
          margin-right: .5rem;
          padding: 0 15px;
     }

     .btn-footer_right {
          padding: 0;
     }
     #next-save {
          /* margin-left: 5px; */
     }
     /* Test */
.navbar-nav li ul a {
    font-size: 12px;
}
    .nav-icon {
    top: 3.5%;
}
.icon-scroll {
    top: 1.5%;
}
}
@media (max-width: 320px) {
     /* test */

     .btn-foote-right-icon {
         padding: 5px;
     }
     .f_tagged {
         width: 150%;
     }
     /* test */
    .navbar-nav li ul a {
    font-size: 11px;
}
    .nav-icon {
    top: 3.5%;
}
.icon-scroll {
    top: 1.7%;
}
    .nav-open span:nth-child(1){
        transform: rotate(45deg);
        margin-bottom:-3px;
        margin-top: 10px;
    }
}
