@font-face {
    font-family: 'devlys_010normal';
    src: url('../fonts/devlys_010-webfont.woff2') format('woff2'),
         url('../fonts/devlys_010-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kruti Dev 010';
    src: url('../fonts/kruti_dev_010-webfont.woff2') format('woff2'),
         url('../fonts/kruti_dev_010-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    color: #555;
    font-family: 'open_sansregular';
}
header{
	background: green url('../imgs/topbg.jpg');
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    -webkit-transition: 500ms ease all;
            transition: 500ms ease all;
}
@keyframes appearTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
body.sticky header {
    background: #fff;
    box-shadow: 5px 0 10px #ccc;
   /* padding-top: 5px;
    padding-bottom: 5px;*/
    animation: appearTop .5s;
}
.logo2 {
    display: none;
}

.bottum{
	margin-top: 80px;
	/*margin-bottom: 80px;*/
}

#navone{
	list-style: none;
	margin:0;
	padding: 0;
	border: 1px solid #ccc;
}
#navone li a {
	text-decoration: none;
	padding: 5px 5px 5px 15px;
	display: block;
	color: #333;
}
#navone>li:hover>a, #navone>li.active>a{
	background: #f5f5f5;
}
#navone li>ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ccc;
}
#navone>li:not(.cs) {
    border-bottom: 1px solid #ccc;
}
#navone>li>a>i.acc-icon {
    float: right;
    margin-top: 4px;
    color: #666;
}

.cs{
	text-transform: uppercase;
	color: green;
    padding: 10px 5px 10px 10px;
    text-align:center;
    background: #eaf7e7;
}
.navbar {
    padding: 0;
}
.navbar li a{
	color: #fff;
}
body.sticky .navbar li a{
    color: green;
}
.ssc{
    background: #ccc;
}

*.heading{
	font-size: 30px;
	text-transform: uppercase;
	color: green;
    border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
    position: relative;
}
h1.heading:after, h3.heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 88.1%;
    border-bottom: 3px solid green;
}
h1.heading:after {
    width: 25%;
}
h1.heading {
    margin-bottom: 30px;
}

.headings{
    font-size: 30px;
    text-transform: uppercase;
    color: green;
    border-bottom: 2px solid green;
    width: 61.4%;
    padding-bottom: 5px;
}

.headingg{
    font-size: 30px;
    text-transform: uppercase;
    color: green;
    border-bottom: 2px solid green;
    width: 86.5%;
    padding-bottom: 5px;
}

.bottom{
	border-bottom: 1px solid #ccc;
	position: relative;
	bottom: 1px;
	margin-bottom: 10px;
}

.sub-part{
	text-align:justify;
	font-size: 16px;
    line-height: 32px;
	margin-bottom: 30px;
}

.sub-part a{
    color: green;
    text-decoration: none;
}

.sub-part a:hover{
    text-decoration: none;
}

.p-2{
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
    padding: 0 !important;
}
.p-2 a {
    display: block;
    color: #666;
    padding: 15px 20px !important;
    transition: all ease 500ms;
}
.p-5{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 31px 20px 31px 20px !important;

}

.p-6{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 53px 20px 53px 20px !important;

}

.p-7{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 31px 20px 31px 20px !important;

}
.d-flex .p-2:hover a {
    color: #fff;
    background: green;
}
.d-flex .p-5:hover a {
    color: #fff;
    background: green;
    text-decoration: none;
}
.d-flex .p-6:hover a {
    color: #fff;
    background: green;
    text-decoration: none;
}
.d-flex .p-7:hover a {
    color: #fff;
    background: green;
    text-decoration: none;
}

.p-3{
	border: 1px solid #ccc;
	padding: 25px 10px 20px 10px !important;
    text-align: center;
    font-family: 'open_sansregular';
    color: green;
}


.course-sub{
	font-size: 30px;
	border:1px solid #ccc;
	padding: 20px 30px 20px 30px;

}

.course{
	margin-top: 60px;
	margin-bottom: 80px;
}

.course a{
	text-decoration: none;
    color: green;
}

.course a:hover{
	text-decoration: none;
	background:#ccc;
}


.flex-row{

}


.flex-row a{
	width: 20%;
	margin-right: 20px;
	border: none;
	color: green;
}

.flex-row a:hover{
	text-decoration: none;
}

.chapter{
    text-align: center;
     color green;
     display: block;
     width: 100%;
     position: relative;
     right: 17px;
     font-size: 13px;
}

.verb{
    text-align: center;
    border-radius: 100%;
    border: 1px solid #A9DFBF;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #A9DFBF;
    color: #333;
}

#navbarSupportedContent{
    margin-top: -30p:143214x;
    margin-bottom: -30px;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li a {
    padding: 34px 0;
}
body.sticky .navbar-nav li a {
    /*padding: 14px 0;*/
}
.navbar-nav li ul {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #ccc;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

}

.navbar-nav li ul:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 15px;
}

@keyframes slideUp {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0);
    }
}
.navbar-nav li:hover ul {
    display: block;
    animation: slideUp .5s;
    text-decoration: none;

}

.navbar-nav li ul a {
    color: green;
    display: block;
    padding: 5px 15px;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav li ul a:hover{
    background: #eee;
}

.contact-block{
	margin-top: 25px;
	margin-bottom: 25px;
}

.contact-head{
	font-size: 30px;
	text-transform: uppercase;
	border-bottom: 2px solid green;
    width: 24%;
}

.head-border{
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
}

.info{
	border: 1px solid #ccc;
	padding: 15px;
}

.info-head{
    padding:10px 0px 10px 0px;
    font-size: 25px;
}

.icon-envelope{
	font-size: 25px;
	color: green;
	padding-right: 10px;
}

.edge{
	margin-bottom: 20px;
}

.icon-office{
	font-size: 25px;
	color: green;
	padding-right: 10px;
}


.tag{
	margin-bottom: 10px;
}

.location{
	margin-bottom: 10px;
}

.icon-mail1{
	font-size: 25px;
	position: relative;
	top: 5px;
}


.icon-map-marker{
	font-size: 25px;
	color: green;
	padding-left: 10px;
}

.map{
	border: 1px solid #ccc;
	margin-bottom: 25px;
}

.ol{
	font-size: 25px;
}

.map-head{
	background:lightgreen;
	padding-top: 10px;
	padding-bottom:10px;
}

.google-map{
	padding: 10px;
}

.mail a{
	color: green;
}

.mail a:hover{
	text-decoration: none;
	color: green;
}

.verb1{
	text-align: center;
    border-radius: 100%;
    border: 1px solid  #FADBD8;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #FADBD8;
    color: #333;
}

.verb2{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #D6EAF8;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #D6EAF8;
    color: #333;
}

.verb3{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #D6EAF8;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #D6EAF8;
    color: #333;
}

.verb4{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #F9E79F;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #F9E79F;
    color: #333;
}

.verb5{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #F47983;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #F47983;
    color: #333;
}

.verb6{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #F58F84;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #F58F84;
    color: #333;
}

.verb7{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #89C4F4;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #89C4F4;
    color: #333;
}

.verb8{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #F5D76E;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #F5D76E;
    color: #333;
}

.verb9{
	text-align: center;
    border-radius: 100%;
    border: 1px solid #ECF0F1;
    height: 60px;
    width: 60px;
    font-size: 25px;
    line-height: 55px;
    margin-bottom: 20px;
    background-color: #ECF0F1;
    color: #333;
}

.icon-keyboard_arrow_down{
	position: relative;
	top: 1px;
}



#return {
    position: fixed;
    right: 30px;
    bottom: -100%;
    background: green;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 100%;
    display: block;
    -webkit-transition: all ease 500ms;
            transition: all ease 500ms;
}
body.sticky #return {
    bottom: 30px;
}

.icon-keyboard_arrow_up{
    color: #fff;
    font-size: 50px;

}


.b-block{
   margin-top: 30px;
   margin-bottom: 30px;
}


.blog-head{
    color: green;
    font-size: 30px;
    border-bottom: 2px solid green;
    width: 75px;
    padding-top: 20px;
}

.blog-block {
    border: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
}
.blog-date {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 5px 20px;
    background: rgba(0,128,0,0.8);
    color: #fff;
    text-align: center;
}
.blog-date .bdate {
    line-height: 100%;
    font-size: 48px;
}
.blog-img{
    width: 100%;
    margin-bottom: 15px;
}

.fblog-head{
    font-size: 25px;
    padding: 0 15px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog-detail {
    position: relative;
}
.blog-desc{
    text-align: justify;
    padding: 20px 15px;
}

.second-blog{
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.read a{
    color: green;
    text-decoration: none;
    padding: 0 15px;
}

.read a:hover{
    color: green;
    text-decoration: none;
}

.icon-long-arrow-right{
    position: relative;
    top: 2px;
    right: -5px;
}



.d-flex a{
    text-decoration: none;
}

.d-flex a:hover{
    text-decoration: none;
}

.enq{
    font-size: 25px;
    text-transform: uppercase;
    color: green;
    margin-bottom: 20px;
}

.enq-second{
    margin-bottom: 20px;

}

.enq-first{
    margin-bottom: 20px;
}

.enq-send{
    margin-top: 20px;
}

.send-btn{
    border-radius: 100px;
    width: 100%;
    padding: 12px 0px 12px 0px;
    font-size: 16px;
    text-transform: uppercase;
}

.social-icon{
    /*margin-left: 20px;*/
    margin-bottom: 10px;
}

.social-icon a{
    text-decoration: none;
}

.social-icon a:hover{
    text-decoration: none;

}


.icon-facebook{
    margin-right: 5px;
    color: green;
    font-size: 20px;
}

.icon-instagram{
    margin-right: 5px;
    color: green;
    font-size: 20px;
}

.icon-twitter{
    margin-right: 5px;
    color: green;
    font-size: 20px;
}

.icon-linkedin{
    color: green;
    font-size: 20px;
}

.date-month{
     position: relative;
     top: 10px;
}

.date{
   border:1px solid #ccc;
   text-align: center;
   width: 88px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 20px;
   font-size: 20px;
}

.month{
   border:1px solid green;
   padding: 5px 5px 5px 5px;
   text-align: center;
   width: 88px;
   background: green;
   color: white;
   font-weight: bold;
   margin-left: 20px;
}

/*.d-block{
    margin-bottom: 30px;
}*/

.f-r .p-11{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 10px 20px 10px !important;
    width: 100%;
}

.f-r a{
    margin-right: 10px;
}

.finding{
    margin-left: 20px;
}


.f-r .p-12{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 50px 20px 50px !important;
    width: 100%;
}

.f-r a{
    text-decoration: none;
}

.f-r a:hover{
    background: #eee;

}

.f-r{
    margin-bottom: 20px;
}

.f-s .p-11{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 10px 20px 10px !important;
    width: 100%;
}

.f-s a{
    margin-right: 10px;
}

.f-s .p-12{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 50px 20px 50px !important;
    width: 100%;
}

.f-s a{
    text-decoration: none;
}

.f-s a:hover{
    background: #eee;

}

.f-s{
    margin-bottom: 20px;
}

.f-t .p-11{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 10px 20px 10px !important;
    width: 100%;
}

.f-t a{
    margin-right: 10px;
}

.f-t .p-12{
    border: 1px solid #ccc;
    text-align: center;
    color: green;
    font-weight: bold;
    padding: 20px 50px 20px 50px !important;
    width: 100%;
}

.f-t a{
    text-decoration: none;
}

.f-t a:hover{
    background: #eee;

}

.topicList, .topicFix {
    display: table;
    width: 100%;
    height: 60px;
}
.topicLists {
    height: 50px;
    margin-bottom: 15px;
}
.topicList a, .topicFix a {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    display: table-cell;
    font-size: 15px;
    color: #5a5a5a;
    vertical-align: middle;
    border: 1px solid #CCC;
    transition: 0.4s;
    text-decoration: none;
    text-transform: capitalize;
}
.topicLists a {
    border: solid 1px #cccccc;
    border-radius: 3px;
}
.topicLists a:hover {
    border-color: green;
    color: green;
}

.queans {
    /*background-color: #f9f9f9;*/
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.viewAns, .viewAns:hover, .viewAns:focus {
    color: #259100;
    font-style: normal;
    font-weight: 600;
}
.questionTitle {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 15px;
}
.explanationDiv {
    padding-top: 10px;
    margin-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
    display: none;
}

/*
 * Pagination
**/
.pagination {
    /*display: inline-block;*/
}
.pagination li {
    float: left;
    margin-bottom: 10px;
}
.page-link {
    margin-right: 5px;
    padding: 8px 15px;
    line-height: 100%;
    color: green;
    border-color: green;
}
.page-item.active .page-link {
    background: green;
    border-color: green;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}
.page-item.disabled .page-link {
    cursor: not-allowed;
}
/*
 * Form Elements
**/
.form-control:focus {
    box-shadow: none;
    border-color: green;
}

/*
 * Footer
**/
footer {
    background: #333;
    padding: 60px 0;
    color: #fff;
}
footer a {
    color: #ccc;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul [class^='icon-'] {
    display: inline-block;
    width: 20px;
    text-align: center;
}
footer marquee {
    padding: 15px;
    border: 1px solid #fff;
    height: 120px;
    border-radius: 3px;
}




/* Instructions */

.resume_test a {
    font-size: 15px;
}

.card_inst {
    padding:15px;
}


/************************ Exam *****************************/

.timeout {
    display: none;
}

.timeout>.timeout-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #333;
}

.timeout>.timeout-body {
    position: fixed;
    width: 70%;
    height: 70vh;
    left: 15%;
    top: 15vh;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    z-index: 999;
    padding: 30px;
}



.test_heading {
    height: 8vh;
    background: #606a74;
    text-align: center;
    padding: 5px 0;
}

.test_heading img {
    height: 100%;
}

.test_line {
    height: 2vh;
    background: #d8d8d8;
}

.test_time_control {
    background: #bad32d;
}

.timer_box {
    background: #606a74;

}

.inner_timer_o {
    margin:10px 0;
}

.inner_timer {
    margin:2px 0;
    display: inline-block;
}

.inner_timer div {
    margin:5px 0;
}

.timer_box {
        color: #fff;
    padding: 1px 5px;
    display: inline-block;
}

.que_heading {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:7px;
    background: #606a74;
    color: #fff;
}

.circle {
    display: inline-flex;
}

.circle div {
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    color:#5e6169;
    padding: 4px 8px;
    border-radius: 100%;
    margin-left: 10px;

}

.mark_info {
    color: #000;
    float: right;
    margin:5px 0;
}

.c_details {
    color: #000;
    margin:5px 0;
}

.question, .answers {
    color:#000;
    display: inline-flex;
}

.questions, .test-form, .candi-details {
    display: grid;
}

.answer {
    margin-left: 6px;
    margin-top: -6px;
}

.test_radio {
    width: 15px;
    height: 15px;
}

.profile {
    /*height: 30vh;*/
    background: #bad32d;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:15px 10px;

}

.pro_image {
    width: 100%;
}

.candi-details {
    font-size: 15px;
}

.candi-details strong {
    color:#939f6f;
}

.candi-details span {
    color: #000;
}

.que_body {
    height: 67vh;
    background: #f7f7f7;
    padding:15px;
    border-radius: 0 0 15px 15px;
}

.que-pallete {
    background: #d9d9d9;
    border-radius: 0 0 15px 15px;
    padding: 15px;
    color:#000;
}

.qp_heading {
    font-size: 15px;
}

.attempt, .tagged, .aandt, .unattempt {
    background: #00ff00;
    width: 50%;
    padding: 0px 13px;
    border: 1px solid #fff;
    margin: auto;
}

.tagged {
    background: #fcbd0e;
}

.aandt {
    background: #8f67c7;
}

.unattempt {
    background: #fff;
}

.qp-lable {
    font-size: 12px;
}

.qp_footer .col-sm-3 {
    padding:0 5px;
}

.que_box {
    background: #fcfcfc;
    width: 50px;
    /* padding: 0px 11px; */
    margin: 1.5px;
    float: left;
    cursor: pointer;
    border: 1px solid #fff;
}
.que_box.btn-danger {
    background-color: #fcfcfc;
    color: inherit;
}
.que_box.btn-success {
    background-color: #00ff00;
}
.que_box.btn-info {
    background-color: #fcbd0e;
}

.que_box.btn-info.check {
    background-color: #8f67c7;
}
.que_status {
    height: 19vh;
    overflow: auto;
}

.que_status1 {
    height: 33vh;
    overflow: auto;
}


.footer_test {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

.test_footer .btn-left {
    background-image: linear-gradient(#575560, #0e121b);
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    padding: 0;
    padding-right: 10px;
}

.test_footer .btn-right {
    background-image: linear-gradient(#575560, #0e121b);
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    padding: 0;
    padding-left: 10px;
}

.footer_arrow_image {
    background: #8c909c;
    /*margin-left: -5px;*/
    padding: 5px;
    display: inline-block;
}

.footer_arrow_image img {
    width: 20px;
}

.footer_test {
    background: #d3d3d3;
    padding:10px 0;
}

.f_tagged {
    background: #ffc000;
    color: #000;
    width: 25%;
    padding: 8px 0px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.f_erase {
    background: #ff1900;
    color: #fff;
    width: 48%;
    padding: 8px 0px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.btn-footer_right {
    background: #b0cc15;
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    padding: 0;
    padding-right: 10px;
    float: right;
}

.btn-foote-right-icon {
    background: #73870c;
    padding: 8px;

    display: inline-block;
}

.que-ans .active {
    display: block !important;
}
/************************ Exam *****************************/


/************************ Exam bank *****************************/

.bank_heading{
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}

.t-blog {
    border: 1px solid #e4e4e4;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.topic {
    background: #366fb6;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 7px 9px;
    display: inline-block;
}

.Sections {
    position: absolute;
    top: -14px;
    background: #fff;
    padding: 0 5px;
    color: #000;
}

.view_in {
    float: right;
}

.c-panel {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}

.mnr {
    background: #c7dcf0;
    border: 1px solid #a9d0f5;
    font-size: 15px;
    color: #000;
    outline: none;
    padding: 5px 14px;
    margin-right: 9px;
    display: inline-block;
    cursor: pointer;
}

.bank-save {
    background: #2f72b7;
    border: 1px solid #a9d0f5;
    font-size: 15px;
    color: #fff;
    outline: none;
    padding: 5px 30px;
}

.bank_image {
    width: 100%;
}

.timer-bank {
    display: inline-block;
    font-size: 13px;
}

.questin_p {
    font-size: 15px;
    margin-top: 15px;
}

.bank-que-pallete {
    font-size: 18px;
    font-weight: 800;
    margin-top: .5rem!important
}

.bank_que_box-nv {
    color:#000;
    background-image: url('../imgs/not_visited.png');
    background-repeat: round;
    width: 30px;
    height: 30px;
    margin: 1.5px;
    float: left;
    font-size: 12px;
    line-height: 2.5;
}

.bank_que_box-a {
    color:#fff;
    background-image: url('../imgs/review_answer.png');
    background-repeat: round;
    width: 30px;
    height: 30px;
    margin: 1.5px;
    float: left;
    font-size: 12px;
    line-height: 2.5;
}

.bank_que_box-na {
    color:#fff;
    background-image: url('../imgs/not_answered.png');
    background-repeat: round;
    width: 30px;
    height: 30px;
    margin: 1.5px;
    float: left;
    font-size: 12px;
    line-height: 2.5;
}

.bank_que_box-m {
    color:#fff;
    background-image: url('../imgs/review.png');
    background-repeat: round;
    width: 30px;
    height: 30px;
    margin: 1.5px;
    float: left;
    font-size: 12px;
    line-height: 2.5;
}

.legend {
    font-size: 13px;
}

.legend img {
    width: 20px;
    margin-right: 3px;
}

.bank {
    background: #fff;
    height: 100vh;
}

.bank-footer {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: -10vh;
}

.main-bank {
    padding-bottom: 30px;
}
/************************ End Exam bank *****************************/

.d-none {
    display: none !important;
}
.course-list-group {
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
    /* position: sticky;
    top: 100px; */
    background: #fff;
}
.course-list {
    border: 1px solid #ebebeb;
    /* margin-bottom: 30px; */
    border-radius: 3px;
    padding: 5px 0;
    position: relative;
}
.course-list:hover, .course-list.active {
    background: #f9f9f9;
}
.course-list>a {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.course-list .course-image img {
    width: 100%;
    height: 48px;
    object-fit: contain;
}
.course-list .course-text {
    /* padding: 5px 0; */
    font-size: 12px;
}
.course-block .course-text strong {
    font-size: 18px;
    text-transform: uppercase;
}
.course-block .course-text a {
    color: #008000;
}
.btn-default {
    background: #008000;
    border: 1px solid #008000;
    color: #fff;
}
.btn-default:hover {
    background: transparent;
    color: inherit;
}


.plan-block {
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ebebeb;
    overflow: hidden;
    margin: 15px 0 30px 0;
}
.plan-block.popular {
    margin-top: 5px;
}
.plan-block .plan-name {
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 15px;
    border-top: 5px solid #ebebeb;
    font-weight: bold;
}
.plan-block .plan-price {
    font-size: 48px;
    text-align: center;
    background: #f9f9f9;
}
.plan-block .plan-info ul {
    margin: 0;
    padding: 0;
}
.plan-block .plan-info ul li {
    padding: 5px 15px;
    font-size: 14px;
}
.plan-block .plan-info ul li {
    border-bottom: 1px solid #ebebeb;
}
.plan-block .buy-btn {
    padding: 15px;
}
.popular .plan-name {
    border-color: #008000;
}
.hindi{
  display: none;
}
#test{
  float: right;
  background: none;
  color: #fff;
  border:none;
  cursor: pointer;
  margin: -7px auto;
  padding: 7px 0px;
}
#test:focus,#test:visited{
  outline:none;
}
#test option{
  color: #000;
}
.subject-list ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.subject-list ul li {
  color: #555;
  cursor: pointer;
  padding: 3px 15px;
}
.subject-list ul li.active {
    background: #98af19;
    color: #fff;
}
.section-questions:not(.active) {
    display: none;
}
